*{margin: 0;padding: 0}
body{padding: 0;font-family: arial,sans-serif;background-color: #fff;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

.google_right_content {
  margin: 4px 20px 0 0;
  padding: 0;
}
.google_right_content ul{text-align:right;}
.google_right_content ul li{display: inline-block;}
.google_right_content ul li a{display: inline-block;font-size: 13px;padding: 6px;color: #000;}
.google_right_content ul li a.simple_text{}
.google_right_content ul li a.menu_icon{}
.google_right_content ul li a.menu_icon img {
  position: relative;
  top: 7px;
  width: 100%;
}
.google_right_content ul li a.sign_in_button {
  background: #4387fd none repeat scroll 0 0;
  border: 1px solid #4285f4;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  outline: medium none;
  padding: 6px 10px;
  text-decoration: none;
}
.google_right_content ul li a:hover{}

/* search fomr css */
.search_form {
  margin: 122px auto auto;
  padding: 10px;
  text-align: center;
  width: 580px;
}
.google_logo {
  background: rgba(0, 0, 0, 0) url("img/google_logo.png") no-repeat scroll center center / 272px 92px;
  height: 110px;
  margin: auto;
  width: 100%;
}
.google_logo h4 {
  color: #4285f4;
  font-size: 16px;
  font-weight: normal;
  left: 121px;
  position: relative;
  top: 82px;
}
.s_form {
  margin-top: 18px;
}
.s_form p {
  font-size: 13px;
  margin-top: 25px;
}

.search_filds {
  padding: 10px;
  width: 100%;
  border: 1px solid #d9d9d9;
  transition:.5s;
}

form input[type=search]:focus{border: 1px solid #4285f4}

.img_submit {
  border: medium none;
  cursor: pointer;
  left: 269px;
  position: relative;
  top: -28px;
  width: 30px;
}
.img_submit img {
	width: 100%;
}
.under_button{margin-top: 15px;}
.under_button .buttos_sss {
  background: #f2f2f2 none repeat scroll 0 0;
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #f2f2f2;
  margin-right: 4px;
}
.under_button .buttos_sss:hover{
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #222;
}
.under_button .buttos_sss:focus{border: 1px solid #4285f4;}
/* Footer css */
.footer_area {
    background: #f2f2f2 none repeat scroll 0 0;
    border-top: 1px solid #e4e4e4;
    height: 43px;
    margin-top: 112px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.left_menu{width: 50%;float: left;}
.left_menu ul {
  margin-left: 12px;
  padding: 0;
  text-align: left;
}
.left_menu ul li{display: inline-block;}
.left_menu ul li a {
  color: #666;
  display: inline-block;
  font-size: 14px;
  padding: 12px 16px;
}
.left_menu ul li a:hover{}
.right_menu{width: 50%;float: right;}
.right_menu ul {
  margin-right: 12px;
  padding: 0;
  text-align: right;
}
.right_menu ul li{display: inline-block;}
.right_menu ul li a {
  color: #666;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
}
.right_menu ul li a:hover{}